@page "/students"
<h3>Students</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Birthday</th>
        </tr>
    </thead>

    @{
        foreach (var student in StudentList)
        {
            <tbody>
                <tr>
                    <td>@student.Id</td>
                    <td>@student.FullName</td>
                    <td>@student.Birthday</td>
                </tr>
            </tbody>
        }
    }
</table>

<EditForm Model="Form"
          OnValidSubmit="OnSubmitAsync"
          FormName="create-student-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>
        First Name:
        <InputText DisplayName="First Name" @bind-Value="Form.FirstName">
        </InputText>
    </label>

    <label>
        Last Name:
        <InputText DisplayName="Last Name" @bind-Value="Form.LastName">
        </InputText>
    </label>

    <button type="submit">Create</button>
</EditForm>
